.header {
    background-image: url(../images/stars.jpg);
    background-position: cover;
    color: #fff;
    padding: 50px 40px;
}

.header h1 {
    margin: 0;
    display: inline;
}

.header nav ul li{
    list-style: none;
    display: inline;
    float: right;
    font-weight: bolder;
    font-size: larger;
    margin: 0 30px;
    color: aqua;
}

.header a {
    color: #fff;
}

h2 {
    float: left;
    margin-right: 250px;
    margin-left: 250px;
}

.html {
    margin: 2px solid rgb(0, 0, 0);
}
